<%-include('../admin/adminhomeLayouts/admin-header.ejs')%>
<%-include('../admin/adminhomeLayouts/admin-sidebar.ejs')%>
<%-include('../admin/adminhomeLayouts/admin-navbar.ejs')%>


<div class="main-panel" id="reloadDiv" >
    <div class="content-wrapper" style="background-color:#191C24 ;">

<button type="button" class="btn btn-primary mb-3" style="margin-left: 900px;" data-toggle="modal" data-target="#exampleModal">
    add offers
  </button>
  
  <!-- Modal -->
  <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container mt-5" id="offerFormContainer">
                <h1 class="mb-4">Add Offer</h1>
              
                    <form action="" method="post">
        
                    <!-- Product Selection -->
                    <div class="form-group">
                        <label for="product">Select Product:</label>
                        <select class="form-control" name="CatId" id="Category" required>
                            <!-- Iterate through products and populate dropdown options -->
                           <% Category.forEach((data)=>{%>
                            <option  value="<%=data._id%>" ><p class="text-white"><%=data.categoryname%></p></option>
                           <% })%>
                            <!-- Add more options as needed -->
                        </select>
                    </div>
        
                    <!-- Discount Input -->
                    <div class="form-group">
                        <label for="discount">Discount (%):</label>
                        <input class="form-control" type="number" name="discount" id="discount" min="0" max="100" required>
                    </div>
        
                  
        
                    <!-- Submit Button -->
                    <button class="btn btn-primary" type="submit" >Add Offer</button>


        
                </form>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">No.</th>
            
            <th scope="col">Category</th>
           
            <th scope="col">Discount</th>
          </tr>
        </thead>
        <tbody>
       <%if(offer){%>
            <% for(let i=0;i<offer.length;i++){%>
          <tr>
            <th scope="row"><%=i+1%></th>
           <td>
            <p><%=offer[i].categoryname%></p>
           </td>
           
        
            <td>
              <a class="btn btn-danger" onclick="removecatOffer('<%=offer[i]._id%>')" >REmove Offer</a>
            </td>
          </tr>
          <%}%>
       <% }else{%>
          <tr>
            <td>
              <p>no offer is left</p>
            </td>
          </tr>
       <% } %>
        </tbody>
      </table>
      
      

    </div>
</div>
 
<script>
 function removecatOffer (catId){
  $.ajax({
    url:'/admin/remove-Catoffer',
    method:'post',
    encoded:true,
    data:{
      categoryId:catId
    }
  }).done((response)=>{
    if(response.success){
     
      $("#reloadDiv").load("/admin/category-offers #reloadDiv")
    }else{
      alert('failed')
    }
  })
 }
</script>




<%-include('../admin/adminhomeLayouts/admin-footer.ejs')%>