<%-include('../admin/adminhomeLayouts/admin-header.ejs')%>
<%-include('../admin/adminhomeLayouts/admin-sidebar.ejs')%>
<%-include('../admin/adminhomeLayouts/admin-navbar.ejs')%>



<div class="main-panel">
    <div class="content-wrapper">
  
  <div class="col-12 grid-margin stretch-card">
      <div class="card">
          <div class="card-body">
            <%
            if(typeof message!=='undefined'){
              %>
              <!-- <div class="alert alert-success"> -->
              <p style="color: green;" ><%= message%></p>
            <!-- </div> -->
              <%
            }
            %>

              <h4 class="card-title">Edit category</h4>
              <!-- <p class="card-description"> Basic form elements </p> -->
              <hr class="white-line">
              <form class="forms-sample" action="/admin/edit-category" method="post" onsubmit="return validateForm()">
                <input type="hidden" name="id" value="<%= category._id%>">
                  <div class="form-group  row">
                      <div class="col-12 col-md-9 mt-5">
                          <label for="exampleInputName1">Category Name</label>
                          <input value="<%=category.categoryname%>" type="text" class="form-control  text-light mb-3 " name="categoryname"
                              id="exampleInputName1" placeholder="name" >
                              <p id="err" style="color: red;"></p>
                          <button type="submit" class="btn btn-lg btn-inverse-primary mr-2 mt-2">Submit</button>
                      </div>
    
                  </div>
    
              </form>
    
          </div>
      </div>
    </div>
  
    
  
  </div>
  </div>

  <script>
    function validateForm() {
      var categoryName = document.getElementById('exampleInputName1').value;
  
      // Check if the category name is empty or contains only letters
      if (categoryName.trim() === '' || !/^[a-zA-Z]+$/.test(categoryName)) {
        document.getElementById('err').innerText = 'Category name is required and should only contain letters.';
        return false; // Prevent form submission
      }
  
      return true; // Allow form submission
    }
  
    function hideError() {
      document.getElementById('err').innerText = ''; // Hide error message when user starts typing
    }
  </script>



<%-include('../admin/adminhomeLayouts/admin-footer.ejs')%>