<%-include('../admin/adminhomeLayouts/admin-header.ejs')%>
<%-include('../admin/adminhomeLayouts/admin-sidebar.ejs')%>
<%-include('../admin/adminhomeLayouts/admin-navbar.ejs')%>

<style>
    .content-wrapper {
      background: #000000;
      padding: -0.125rem 1.75rem;
      width: 100%;
      -webkit-flex-grow: 1;
      flex-grow: 1;
  }
  </style>
  
        <!-- usermanagement -->
        <div class="main-panel">
          <div class="content-wrapper">
            
            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card" style="    margin-top: -31px;
                margin-left: -29px;">
                  <div class="card-body">
                    <h4 class="card-title">Orders</h4>
  
                    
                    <div class="table-responsive">
                      <ul class="navbar-nav  w-100">
                        <li class="nav-item w-100">
                          <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                            <div class="input-group rounded">
                              <input name="search" value="search" type="search" class="text-white rounded my-2" style=" height: 35px; width: 50%; border: none;" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                              
                              <button type="submit" class=" btn btn-primary justify-content-center mt-2" style="height: 35px;width: 87px;">Search</button>
                            </div>
                          </form>
                        </li>
                      </ul>
  
                      <table class="table">
                        <thead>
  
  
                          <th> Product </th>
                          <th> User </th>
                          <th> Order Date</th>
                          <th> Quantity</th>
                          <th> Price</th>
                          <th> Pyament Status</th>
                          <th> Order Status</th>
                          <th> Action</th>
  
                          </tr>
                        </thead>
                        <tbody>
                          
                          <%for(let i=orders.length-1;i>=0;i--){%>
                          
                          
                              <tr>


                                <td>
                                  <div class="product-image-container mb-2">
                                  <img style="height: 100px; width: 100px; border-radius: 0%;" alt="image" src="/public/adminAssets/product-images/<%= orders[i].product.image[0]%>" />
                                  </div>
                                  <span >
                                    <strong>  <%= orders[i].product.name %></strong>
                                  </span>
                              </td>
                                <td>
                                  <%=orders[i].user.email%>
                                 
                                </td>
                                <td>
                                  <span style="font-weight: 100;" class="pl-2 ">
                                    <%= new Date(orders[i].orderDetails.date).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' })%>
                                  </span>
                                </td>
                                <td>
                                  <%= orders[i].orderDetails.quantity %>
                                </td>
                                <td>
                                  ₹<%= orders[i].orderDetails.totalAmount %>
                            </td>
                            <td>
                            <%  if(orders[i].orderDetails.paymentStatus==="Completed"){%>
                                <p class="text-success"><b><%= orders[i].orderDetails.paymentStatus%></b></p>
                            <%  }else{%>
                                <p class="text-warning "><b><%= orders[i].orderDetails.paymentStatus%></b></p>
                           <% }%>
                             
                            </td>
                            
                              <td>
                                <%if(orders[i].orderDetails.orderStatus == "Placed"){%>
                                  <p class="text-success"><b><%=orders[i].orderDetails.orderStatus%></b></p>
                               <% }%>
                               <%if(orders[i].orderDetails.orderStatus == "Out for Delivery"){%>
                                <p class="text-warning" ><b> <%=orders[i].orderDetails.orderStatus%></b></p>
                               <% }%>
                               <%if(orders[i].orderDetails.orderStatus == "Cancelled"){%>
                                <p class="text-danger" ><b> <%=orders[i].orderDetails.orderStatus%></b></p>
                               <% }%>
                               <%if(orders[i].orderDetails.orderStatus == "Shipped"){%>
                                <p class="text-success" ><b> <%=orders[i].orderDetails.orderStatus%></b></p>
                               <% }%>
                               <%if(orders[i].orderDetails.orderStatus == "Delivered"){%>
                                <p class="text-success" ><b> <%=orders[i].orderDetails.orderStatus%></b></p>
                               <% }%>
                                
                               
                            </td>
                            
                            <td>
                              <a href="/admin/order-managment?orderId=<%=orders[i].orderDetails._id%>&productId=<%=orders[i].product._id%>" class="btn btn-inverse-info">Manage</a>
                            </td>
                        </tr>
                      
                                <%}%>
                          
                          
                                
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <style>
          .product-image-container {
          width: 100px; 
          height: 100px; 
          overflow: hidden; /
      }
     
    img {
      width: 30px;
      height: 30px;
      border-radius: 0%;
    }
      </style>

<%-include('../admin/adminhomeLayouts/admin-footer.ejs')%>