<%-include('../users/mainLayouts/mainheader.ejs')%>


<div class="bg0 m-t-23 p-b-140" style="margin-top: 80px;">
    <div class="container">
        <!-- <h3>ALL PRODUCTS</h3> -->
        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-sb-m p-b-52">
                
               <!-- <h3>ALL PRODUCTS</h3> -->

            <div class="flex-w flex-c-m m-tb-10">
                <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
                    <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                    <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                     Filter
                </div>

                <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                    <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                    <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Search
                </div>
            </div>
            
            <!-- Search product -->
            <div class="dis-none panel-search w-full p-t-10 p-b-15">
                <div class="bor8 dis-flex p-l-15">
                    <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                        <i class="zmdi zmdi-search"></i>
                    </button>
                    <form action="">
                  
                        <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="search" name="search" value="search" placeholder="Search">
                    </form>        
                    </div>	
            </div>
       <!-- Filter -->
       <form id="price-filter-form" method="post" action="/filter" style="width: 100%;">
        <div class="dis-none panel-filter w-full p-t-10">
            <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm" style="width: 100%;">
                <div class="filter-col1 p-r-15 p-b-27">
                    <div class="mtext-102 cl2 p-b-15">
                        Sort By
                    </div>
                
                    <ul>
                        <li class="p-b-6">
                            <label class="radio-label">
                                <input type="radio" name="sort" value="0" checked>
                                Default
                            </label>
                        </li>
                
                        <li class="p-b-6">
                            <label class="radio-label">
                                <input type="radio" name="sort" value="1">
                                Price: Low to High
                            </label>
                        </li>
                
                        <li class="p-b-6">
                            <label class="radio-label">
                                <input type="radio" name="sort" value="-1">
                                Price: High to Low
                            </label>
                        </li>
                    </ul>
                </div>
                

                <div class="filter-col2 p-r-15 p-b-27">
                    <div class="mtext-102 cl2 p-b-15">
                        Price
                    </div>
                
                    <ul>
                        <li class="p-b-6">
                            <label  class="radio-label">
                                <input type="radio" name="price" value="0-10000000000" checked>
                                All
                            </label>
                        </li>
                
                        <li class="p-b-6">
                            <label  class="radio-label">
                                <input type="radio" name="price" value="150-350">
                                ₹ 150 - ₹350
                            </label>
                        </li>
                
                        <li class="p-b-6">
                            <label  class="radio-label">
                                <input type="radio" name="price" value="350-550">
                                ₹ 350 - ₹ 550
                            </label>
                        </li>
                
                        <li class="p-b-6">
                            <label  class="radio-label">
                                <input type="radio" name="price" value="550-750">
                                ₹ 550 - ₹ 750
                            </label>
                        </li>
                
                        <li class="p-b-6">
                            <label  class="radio-label">
                                <input type="radio" name="price" value="750-1000">
                                ₹ 750 - ₹ 1000
                            </label>
                        </li>
                
                        <li class="p-b-6">
                            <label  class="radio-label">
                                <input type="radio" name="price" value="1000-10000000">
                                ₹ 1000+
                            </label>
                        </li>
                    </ul>
                </div>
                

                <div class="filter-col3 p-r-15 p-b-27">
                    <div class="mtext-102 cl2 p-b-15">
                        Color
                    </div>
                
                    <ul>
                        <li class="p-b-6">
                            <label class="radio-label">
                                <input type="radio" name="color" value="black" checked>
                                Black
                            </label>
                        </li>
                
                        <li class="p-b-6">
                            <label class="radio-label">
                                <input type="radio" name="color" value="blue">
                                Blue
                            </label>
                        </li>
                
                        <li class="p-b-6">
                            <label class="radio-label">
                                <input type="radio" name="color" value="grey">
                                Grey
                            </label>
                        </li>
                
                        <li class="p-b-6">
                            <label class="radio-label">
                                <input type="radio" name="color" value="green">
                                Green
                            </label>
                        </li>
                
                        <li class="p-b-6">
                            <label class="radio-label">
                                <input type="radio" name="color" value="red">
                                Red
                            </label>
                        </li>
                
                        <li class="p-b-6">
                            <label class="radio-label">
                                <input type="radio" name="color" value="white">
                                White
                            </label>
                        </li>
                    </ul>
                </div>
                

                <div class="filter-col4 p-b-27">
                    <div class="mtext-102 cl2 p-b-15">
                        Category
                    </div>
                
                    <div class="flex-w p-t-4 m-r--5 ">
                        <% category.forEach(function(category,index) { %>
                        <label class="radio-label">
                            <input type="radio" name="category" value="<%= category._id %>"  <%= index === 0 ? 'checked' : '' %> >
                            <p style="    margin-left: 25px;
                            margin-top: -21px;" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                <%= category.categoryname%>
                            </p>   
                        </label>  
                        <% }); %>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-light">Apply Filters</button>
            </div>
        </div>
    </form>
        </div>

       
        <div class="container" id="reloadDiv">
            <div class="row isotope-grid " id="product-container">
                <% product.forEach((data) => { %>
                    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women category-categoryname">
                        <div class="block2 border p-1">
                            <% if(data.discount > 0) { %>
                            <div class="discount-badge " style="background-color: #ff5733;
                           color: #f8f8f8;
                         
                             position: absolute;
                             z-index: 1;
                            width: 74px;">
                               
                                    <span class="stext-103 size-102">
                                        <%= data.discount %> % OFF
                                    </span>
                                
                            </div>
                            <% } %>
                            <div class="block2-pic hov-img0" >
                               
                                <img style=" width: 244px;
                                height: 270px;
                               position: relative;
                               margin-left: 11px;
                               
                                " src="/public/adminAssets/product-images/<%= data.image[0] %>" alt="IMG-PRODUCT">
                                
                                <a href="/product-view?id=<%=data._id%>" class="block2-btn  flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 ">
                                    Quick View
                                </a>
                            </div>
                            <div class="block2-txt flex-w flex-t p-t-14">
                                <div class="block2-txt-child1 flex-col-l">
                                    <span class="stext-105 cl3 ml-4" >
                                        <%= data.brand %>
                                    </span>
                                    <a href="" class="stext-104 ml-4 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                        <%= data.name %>
                                    </a>
                                   <% if(data.discount>0){%>
                                    <div class="d-flex">
                                    <span class="stext-105 cl3 ml-4">
                                        <del>$<%= data.price %> </del>  
                                    </span>
                                    <span class="stext-105 cl3 " style="margin-left: 130px;">
                                     <p style="color: #ff5733;">  <b> $<%= data.discountedAmount %>  </b> </p>
                                    </span>
                                </div>
                               <% }else{%>
                                <span class="stext-105 cl3 ml-4">
                                    $<%= data.price %>  
                                </span>
                              <% }%>
                                </div>
                                <div class="block2-txt-child2 flex-r p-t-3">
                                    <a onclick="addWish('<%=data._id%>')" class="mr-4 btn-addwish-b2 dis-block pos-relative ">
                                        <img class="icon-heart1 dis-block trans-04" src="/public/userAssets/images/icons/icon-heart-01.png" alt="ICON">
                                        <img class="icon-heart2 dis-block trans-04 ab-t-l" src="/public/userAssets/images/icons/icon-heart-02.png" alt="ICON">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>


        <!-- Product Modal -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Product Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="product-details">
                    <h3 class="product-name"></h3>
                    <p class="product-category"></p>
                    <p class="product-price"></p>
                    
                    <p class="product-description"></p>
                    <p class="product-size"></p>
                    <div class="product-images">
                        <!-- Product images will be displayed here -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

        <!-- Load more -->
        <!-- <div class="flex-c-m flex-w w-full p-t-45">
            <a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                Load More
            </a>
        </div> -->
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

        <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
            <a class="page-link" href="/all-product?page=<%= currentPage - 1 %>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>

        <% for (let i = 1; i <= pages; i++) { %>
            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                <a class="page-link" href="/all-product?page=<%= i %>"><%= i %></a>
            </li>
        <% } %>

        <li class="page-item <%= currentPage === pages ? 'disabled' : '' %>">
            <a class="page-link" href="/all-product?page=<%= currentPage + 1 %>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>

    </ul>
</nav>


<style>
    .pagination .page-item .page-link {
    border-radius: 50px; /* Makes the pagination link circular */
    color: #333; /* Text color for non-active links */
}

.pagination .page-item .page-link:hover {
    background-color: #f8f8f8; /* Background color on hover */
}

/* Style for the active page link */
.pagination .page-item.active .page-link {
    background-color: #007bff; /* Background color for the active link */
    color: #fff; /* Text color for the active link */
}

/* Style for the "Previous" and "Next" buttons */
.pagination .page-item.disabled .page-link {
    cursor: not-allowed; /* Disable the cursor on disabled buttons */
}
</style>
<script>
    function deselectRadios() {
        var radios = document.getElementsByClassName("radiobutton"); 
        for (var i = 0; i < radios.length; i++) {
            radios[i].checked = false;
        }
    }
</script>

<script>
//    function categoryFilter(catId){
//     $.ajax({
//         url:`/category-filter?id=${catId}`,
//         method:'get',
//         encoded:true,
//         data:{
//             catId:catId
//         }
//     }).done((response)=>{
//         if(response){
//             alert('success')
//             $("#reloadDiv").html(response);
//             .load("/all-product #reloadDiv")
//         }else{
//             alert('failed')
//         }
//     })
//    }
function addWish(productId){
    $.ajax({
        url:'/add-to-wishlist',
        method:'post',
        encoded:true,
        data:{productId:productId}

    }).done((response)=>{
        if(response.success){
         
            Swal.fire({
  title: "Good job!",
  text: "item added to wishlist",
  icon: "success"
});

        }else if(response.already){
            Swal.fire('product already in your wishlist')
        }
    })
}
</script>


<%-include('../users/mainLayouts/mainfooter.ejs')%>