<%-include('../users/mainLayouts/mainheader.ejs')%>


<div class="bg0 m-t-23 p-b-140 align-items-center"  >
    <div class="container  " style="    margin-bottom: -188px;">


<nav aria-label="breadcrumb" class="breadcrumb-nav" style="margin-top: 100px;">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->
<div class="text-center">
<h1>CHECKOUT</h1>
</div>
<div class=" text-center w-50 card border-0" >
    
    <a class="btn btn-primary" style="margin-top: 55px;" href="/new-address"> + ADD A NEW ADDRESS </a>
</div>




<div class="page-content">
    <div class="checkout">
        <div class="container">
            <div class="checkout-discount">
               
            </div><!-- End .checkout-discount -->
            <form action="" id="place-order" >
                <div class="row" style="margin-left: -19px;
                margin-right: -10px;">
                    <div class="col-lg-9" >
                       
                    <!--hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh-->
                  <%  if(address!=0){%>
                   <% for(let i=0;i<address.length;i++){%>
                    <div class="d-flex rounded p-3 mt-3 border card text-white" 
                    style=" 
                      
                      margin-right: 234px; " >
                        <div class="card-body"> </div>
                            
                        <p> <input class="form-check-input ml-1" type="radio" value="<%=address[i].name%>,<%=address[i].housename%>,<%=address[i].pin%>"
                                name="address" id=""  >
                            
                              <b class="m-l-30"> <%=address[i].name%> &nbsp; &nbsp; &nbsp; &nbsp; <%=address[i].mobile%>  </b></p>
                            <p class="m-l-30">
                               <%=address[i].housename%>   <%=address[i].state%>  <%=address[i].state%> - PIN:-<%=address[i].pin%> 
                            </p>
                       </div>
                    <%}%>
               <% }else{%>
                    <h1>huuu</h1>
               <%  }%>






                    </div><!-- End .col-lg-9 -->
                    <aside class="col-lg-3">
                        <div class="summary " style="margin-left: -155px;">
                            <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                            <table class="table table-summary">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <%product.forEach((data)=>{%>
                                    <tr>
                                        <td><a href="#"><%=data.productId.name%></a></td>
                                        <td>&#8377 <%=data.price%></td>
                                    </tr>
                                <%})%>

                                   
                                    <tr class="summary-subtotal">
                                        <td>Subtotal:</td>
                                        <td id="subtotal-amount" >&#8377 <%=total%></td>
                                    </tr><!-- End .summary-subtotal -->
                                    <tr>
                                        <td>Shipping:</td>
                                        <td>Free shipping</td>
                                    </tr>
                                    <tr class="summary-total">
                                        <td>Total:</td>
                                        <td id="total">&#8377 <%=total%></td>
                                    </tr><!-- End .summary-total -->
                                </tbody>
                            </table><!-- End .table table-summary -->

                            <div class="accordion-summary" id="accordion-payment">
                                <label class="d-flex">
                                    <input type="radio" id="payment" name="payment" value="COD">&nbsp;&nbsp;
                                    Cash on Delivery
                                </label>
                        
                                <label class="d-flex">
                                    <input type="radio" name="payment" value="online">&nbsp;&nbsp;
                                    Online
                                </label>

                         

                                
                            </div><!-- End .accordion -->

                            <!-- <a type="su" style="    margin-left: 134px;" class=" btn btn-success" href="/checkout">Proceed to checkout</a> -->
                            

                            <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                <span class="btn-text">Place Order</span>
                                <span class="btn-hover-text">Proceed to Checkout</span>
                            </button>
                        </div><!-- End .summary -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </form>
        </div><!-- End .container -->
    </div><!-- End .checkout -->
</div><!-- End .page-content -->
</main><!-- End .main -->


    </div>
</div>

<script>
    console.log('beforrrr');
     document.addEventListener("DOMContentLoaded", function() {
    $("#place-order").submit((e) => {
    console.log('Button submitted');
    const amount = document.getElementById("total-amount").innerHTML;
    const totalAmount = document.getElementById("subtotal-amount").innerHTML;

    let address = $("input[name=address]:checked").val();
    let paymentMethod = $("input[name=payment]:checked").val();

    e.preventDefault();
    
    $.ajax({
        url: "/place-order",
        method: 'post',
        encoded:true,
        data: {
            total: amount,
            address: address,
            payment: paymentMethod,
            amount: totalAmount
        },
        success: (response) => {
            if (response) {
            alert('Order placed successfully');
                // location.href = "/order-placed"
            } else {
                alert('Order placement failed');
            }
        },
        error: (xhr, status, error) => {
            console.log("Error: " + error);
        }
    });
});
     })
     console.log(afterrr);
</script>

<%-include('../users/mainLayouts/mainfooter.ejs')%>