<%-include('../users/mainLayouts/mainheader.ejs')%>
<link rel="stylesheet" href="/public/userAssets/userAccount/assets/css/style.css">


<!-- <style>
  .discount-label {
    color: #28a745; 
  }

  .criteria-label {
    color: #007bff; 
  }
</style> -->

<!-- <style>
  .coupon-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for the card */
  }

  .coupon-code {
    font-size: 24px;
    color: #333; /* Text color for the coupon code */
    letter-spacing: 2px; /* Letter spacing for the coupon code */
  }

  .label-text {
    font-size: 18px;
    font-weight: bold;
  }

  .amount-text {
    font-size: 18px;
    color: #333; /* Text color for amounts */
    font-weight: bold;
  }

  .btn-copy {
    font-size: 16px;
  }
</style> -->
 <style>
  body{

background-color: #eee;
}

.wrapper{

height: 100vh;
}

.coupon-div{
  
  position: relative;
  background-color: #9e0be2;
  padding: 10px;
  width: 400px;
  border:none;
 

}

.content{

z-index: 10;
}

.logo{

/* margin-bottom: -60px; */
}


.off{

    line-height: 0px;
}

.off h1{

font-size: 31px;
}

.off span{

margin-right: 111px;
}


.plus{
font-size: 23px;
}

.code{

/* text-transform: uppercase; */
padding: 2px;
/* background-color: #fff; */
font-size: 19px;
    width: 130px;
    color: white;
    font-family: cursive;
}

.cross-bg{

height: 100%;
width: 100%;
position: absolute;
border-radius: 20px;
background-color: #9C27B0;

left: 0px;
  top: 0px;
  opacity: 0.4;
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  z-index:1;
}
.copy-button {
      cursor: pointer;
      /* background-color: #007bff; */
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 14px;
      margin-top: 10px;
    }
</style> 

<div class="bg0 m-t-23 p-b-140 align-items-center"  >
    <div class="container  " style="    margin-bottom: -188px;">


<nav aria-label="breadcrumb" class="breadcrumb-nav" style="margin-top: 100px;">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="text-center">
<h1>CHECKOUT</h1>
</div>
<!-- Button trigger modal -->
<button type="button" style="margin-left: 0px;
 text-decoration: none;
  padding: 10px 20px;
   background-color: #d9534f; 
   color: #fff;
    border-radius: 5px;
     box-shadow: 2px 2px 5px #888;
margin-bottom: 12px;" class="btn btn-danger rounded " data-bs-toggle="modal" data-bs-target="#exampleModal">
  Available offers
</button>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="    margin-top: 177px;
    margin-left: 61px;
    width: 355px;">
      <div class="modal-header" style="background-color: darkgray; border: none;">
       
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-2" style="background-color: darkgray">
       
          <% if(coupons.length > 0 ){ %>
            <% coupons.forEach((value)=>{ %>
              <div class="d-flex justify-content-center m-2 align-items-center">
                <div class="card coupon-div p-3" style="border-radius: 9px;">
                    <!-- Existing content for your coupon view -->
                    <div class="cross-bg"></div>
                    <div class="content">
                   
                        <div class="text-center text-uppercase text-white off p-5">
                            <p style="font-size: 11px; margin-left: -20px; color: aliceblue;">If you buy&nbsp;<strong>₹ <%= value.criteriaAmount %></strong>&nbsp;worth, You'll get&nbsp;<b>₹ <%= value.discountAmount %> </b> &nbsp;off! </p>
                        </div>
                        <div class="text-center text-white" style="margin-top: -30px;">
                            <span class="plus">+</span>
                        </div>
                        <div class="text-center text-white">
                            <p style="font-size: 11px; margin-left: -7px; color: aliceblue;" class="card-title">Validity:&nbsp;<%= value.activationDate.toLocaleDateString('en-US',
                                { year: 'numeric', month: 'short', day: '2-digit'
                                }).replace(/\//g, '-') %>&nbsp; To &nbsp;<%= value.expiryDate.toLocaleDateString('en-US',
                                { year: 'numeric', month: 'short', day: '2-digit'
                                }).replace(/\//g, '-') %></p>
                        </div>
                        <div class="mb-3 text-center d-flex justify-content-center">
                            <div class="code text-center mt-1">
                                <span id="couponCode"><%= value.couponCode %></span>
                            </div>
                            <!-- Copy Code Button -->
                            <button class="copy-button" onclick="copyCouponCode()"><i class="fa-solid fa-copy" style="color: #d3d9e4; background-color: transparent;"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            
        <%})%>
      <%}%>
        
      </div>
      <div class="modal-footer d-flex justify-content-center" style="background-color: darkgray; border: none;">
        <button type="button" class="btn btn-danger rounded" data-bs-dismiss="modal">CLOSE</button>
    </div>
    </div>
  </div>
</div>
<div class="">
  <label for="checkout-discount-input" class="text-truncate"
    >Have a coupon? <span>Enter your code below.</span></label
  >
</div>
<div class="cart-discount">
   <div class="input-group mb-5">
      <input
        type="text"
        class="form-control"
        
        name="code"
        id="code"
        placeholder="coupon code"
        style="
          height: 40px;
          border: 1px dotted #000;
          padding-left: 10px;
        "
      />
      
      <button
      id="unApply"
        class="btn btn-outline-dark"
        style="margin: 0; width: 70px; height: 40px; display: none;"
        onclick="unApplycoupon($('#code').val())"
      >
      <i class="fa-solid fa-trash"></i>
      </button>
      
      <button
      id="apply"
      class="btn btn-outline-dark"
      style="margin: 0; width: 70px; height: 40px; "
      onclick="applyCouponAndPreventFormSubmission($('#code').val())"
  >
      <i class="icon-long-arrow-right"></i>
  </button>

  


    </div>


    
</div>


<div class=" text-center w-50 card border-0" >
  
  <button class="btn btn-primary" style="margin-top: 55px; 
    background-color: #d9534f; 
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888;
    margin-bottom: 12px;" data-toggle="modal" data-target="#addAddressModal">+ ADD A NEW ADDRESS</button>
   <!-- Add this at the end of your HTML, just before the closing </body> tag -->
<div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="addAddressModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content" style="background-color: black;
      padding: 33px;
  ">
          <div class="modal-header">
              <h5 class="modal-title" id="addAddressModalLabel">Add a New Address</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <!-- Your form goes here -->
              <form id="addressForm" action="" method="post">
                <!-- profile end -->
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="font-weight-bold text-white" for="name"> Name * </label>
                        <input type="text" class="form-control " id="name" name="name"  >
                        <p id="nameError" style="color: red;"></p>
                    </div><!-- End .col-md-6 -->
            
                    <div class="col-md-6 mb-3">
                        <label class="font-weight-bold text-white" for="email">Email *</label>
                        <input type="text" class="form-control" id="email" name="email"  >
                        <p id="emailError" style="color: red;"></p>
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            
                <div class="mb-3 w-50">
                    <label class="font-weight-bold text-white" for="mobile">Mobile *</label>
                    <input type="tel" class="form-control" id="mobile" name="mobile" pattern="[0-9]{10}" title="Only 10 digits are allowed" >
                    <p id="mobileError" style="color: red;"></p>
                </div>
            
                <div class="mb-3 w-50">
                    <label class="font-weight-bold text-white" for="housename">House Name *</label>
                    <input type="text" class="form-control" id="housename" name="housename"  >
                    <p id="housenameError" style="color: red;"></p>
                </div>
            
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="font-weight-bold text-white" for="city">City *</label>
                        <input type="text" class="form-control" id="city" name="city"  >
                        <p id="cityError" style="color: red;"></p>
                    </div><!-- End .col-md-6 -->
            
                    <div class="col-md-6 mb-3">
                        <label class="font-weight-bold text-white" for="state">State *</label>
                        <input type="text" class="form-control" id="state" name="state"  >
                        <p id="stateError" style="color: red;"></p>
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            
                <div class="mb-3">
                    <label style="margin-left: -381px;" class="font-weight-bold text-white" for="pin">Pin *</label>
                    <input type="text" class="form-control w-25" id="pin" name="pin" pattern="[0-9]+" title="Only numbers are allowed" >
                    <p id="pinError" style="color: red;"></p>
                </div>
            
                <button type="button" id="submitBtn" class="btn btn-primary" style="background-color:#717fe0;">ADD +</button>
            </form>
          </div>
      </div>
  </div>
</div>

</div>



<form  id="checkout-form" >
<div class="page-content">
    <div class="checkout">
        <div class="container">

        
          


            <div class="checkout-discount">
               
            </div><!-- End .checkout-discount -->
           
                <div class="row" style="margin-left: -19px;
                margin-right: -10px;">
                    <div class="col-lg-9" >
                       
                    <!--hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh-->
                   <% if(address){%>
                  <%  if(address!=='undefined'){%>
                  <% address.forEach((address)=>{%>
                  
                    <div style="display: flex; border: 1px solid #000; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); padding: 15px; margin-top: 20px; margin-right: 234px;">
                      <div style="padding: 10px;">
                        <!-- Additional content can go here if needed -->
                      </div>
                      <div>
                        <p>
                          <input style="margin-left: 5px;" type="radio" name="address" value="<%= address.name %>,<%= address.mobile %>,<%= address.email %>,<%= address.housename %>,<%= address.city %>,<%= address.state %>,<%= address.pin %>" id="">
                          <b style="margin-left: 30px;"><%= address.name %> &nbsp; &nbsp; &nbsp; &nbsp; <%= address.mobile %></b>
                        </p>
                        <p style="margin-left: 30px;">
                          <%= address.housename %> <%= address.city %> <%= address.state %> - PIN:-<%= address.pin %>
                        </p>
                      </div>
                    </div>
                    
                    
                    <%})%>
                  <% }%>
                <%}else{%>
                    <div class="text-center">
                   <h2> EMPTY!!</h2>
                </div>
                <%}%>




                    </div><!-- End .col-lg-9 -->
                    
                   <aside class="col-lg-3 col-md-6 mb-4" style="background-color: #e5dddd; border-radius: 10px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
  <div class="card" style="background-color: #e5dddd;">
    <div class="card-body">
      <div class="summary border-0 rounded-3">
        <h3 class="summary-title">Your Order</h3>
        <table class="table table-summary">
          <thead>
            <tr>
              <th>Product</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <% var productId; %>
            <% product.forEach((data) => { %>
              <tr>
                <td><a href="#" style="text-decoration: none; color: #333;"><%= data.productId.name %></a></td>
                <% if (data.productId.discount > 0) { %>
                  <td><del style="color: #999;">Rs.<%= data.productId.price.toFixed(2) %></del></td>
                  <td><p style="color: red; margin: 0;">Rs.<%= data.productId.discountedAmount.toFixed(2) %></p></td>
                  <% productId = data.productId._id %>
                  <input type="hidden" class="productId" name="price" value="<%= data.productId.discountedAmount %>">
                <% } else { %>
                  <td>Rs.<%= data.productId.price.toFixed(2) %></td>
                  <% productId = data.productId._id %>
                  <input type="hidden" class="productId" name="price" value="<%= data.productId.price %>">
                <% } %>
              </tr>
            <% }); %>
            <tr>
              <td>Shipping:</td>
              <td>Free shipping</td>
            </tr>
            <tr class="summary-total">
              <td>Total:</td>
              <td id="total1"><%=total%></td>
            </tr>
          </tbody>
        </table>
        <div class="accordion-summary mt-3" id="accordion-payment">
          <label class="d-flex">
            <input type="radio" required id="COD" name="payment" value="COD">&nbsp;&nbsp;
            Cash on Delivery
          </label>
          <label class="d-flex">
            <input type="radio" required id="online" name="payment" value="online">&nbsp;&nbsp;
            Online
          </label>
          <label class="d-flex">
            <input type="radio" required id="wallet" name="payment" value="wallet">&nbsp;&nbsp;
            Wallet
          </label>
        </div>
        <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block mt-3" style=" border-color: #3498db; color: #fff; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); margin-bottom: 12px; margin-left: 19px;">
          <span class="btn-text btn btn-primary" style="margin-left: 13px;">Place Order</span>
          <span class="btn-hover-text btn btn-primary">Proceed to Checkout</span>
        </button>
      </div>
    </div>
  </div>
</aside>
<!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </form>
        </div><!-- End .container -->
    </div><!-- End .checkout -->
</div><!-- End .page-content -->
</main><!-- End .main -->


    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
 $(document).ready(function() {
    $("#checkout-form").submit((event) => {
        event.preventDefault();
    let codes = document.getElementById('code').value;
    let code = codes ? codes : 0
    let address = $("input[name=address]:checked").val()
    let total=document.getElementById("total1").innerHTML;
    let rice = document.querySelector(".productId").value;

    let price=parseInt(rice)
    let payment=$("input[name=payment]:checked").val()
    $.ajax({
        url:"/place-order",
        method:"post",
        data:{Total:total,address:address,payment:payment,code:code,price:price},
        success: (response)=>{
            if(response.success===true || response.wallet==true){
                // swal('order placed')
                location.href='/order-placed'
            }else if(response.wallet==false){
              Swal.fire({
                    icon: 'error',
                    title: 'Insufficient Wallet Balance',
                    text: 'Your wallet balance is insufficient. Please choose a different payment method or recharge your wallet.',
                    });
              }else if(response.couponBlock){  
                Swal.fire('coupon is  not available');
              }else if(response.quantity){
                Swal.fire('products is not available')
            }else{
              razorPayment(response.order)
            }
        }
    })
   })
  })

   function razorPayment(order) {
    
    // console.log(process.env.RazorId);
    var options = {
      key: "rzp_test_49DsJEEbScMJdv", // Enter the Key ID generated from the Dashboard
      amount: order.totalAmount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
      currency: "INR",
      name: "shuecrops", //your business name
      description: "Test Transaction",
      image: "/user/images/icons/logo.png",
      order_id: order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
      handler: function (response) {
        verifyPayment(response, order);
      },
      prefill: {
        //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
        name: "Shoe crops", //your customer's name
        email: "shuecrops007store@example.com",
        contact: "9778019887", //Provide the customer's phone number for better conversion rates
      },
      notes: {
        address: "Razorpay Corporate Office",
      },
      theme: {
        color: "#c96",
      },
    };

    var rzp1 = new Razorpay(options);
    rzp1.open();
  }
         
  function verifyPayment(payment, order) {
    const amount2 = document.getElementById("total1").innerHTML;
    $.ajax({
      url: "/verify-payment",
      method: "post",
      encoded:true,
      data: {
        payment: payment,
        amount2: amount2,
        order: order,
      },
      success: (response) => {
        console.log('rrrr',response);
        if (response.codsuccess == true) {
            
            Swal.fire({
            positon: "center",
            icon: "success",
            title: "Payment successfully",
            showConfirmButton: false,
            timer: 1500,
          }).then(()=>{
            window.location.href='/all-orders'
          })


            // location.href='/all-orders'
        } else {
          Swal.fire({
            positon: "center",
            icon: "error",
            title: "Payment failed",
            showConfirmButton: false,
            timer: 1500,
          });
        }
      },
    });
  }
</script>
<script>
   //=========delete applied coupon=========
   function unApplycoupon(code) {
    const amount = document.getElementById('total1').innerHTML;
    $.ajax({
      url: "/deleteAppliedCoupon",
      data:{
        code:code,
        amount: amount
      },
      method: "post",
      success: (response)=>{
        if(response.success){
          document.getElementById('total1').innerHTML = response.disTotal
          
          document.getElementById('apply').style.display = "block"
          document.getElementById('unApply').style.display = "none"
          Swal.fire({
            icon: 'warning',
            title: 'Deleted !!',
            text: 'Applied coupon is deleted.'
          })
        }
      }
    })
  }


  function applyCouponAndPreventFormSubmission(code) {
    // Apply coupon
    $.ajax({
        url: "/applyCoupon",
        data: {
            code: code,
            amount: $('#total1').text()
        },
        method: "post",
        success: function (response) {
            if (response.user) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops !!',
                    text: 'This coupon has already been used!'
                });
            } else if (response.cartAmount) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Oops !!',
                    text: 'You cannot use the coupon. Buy more.'
                });
            } else if (response.amountOkey) {
                console.log(response);
                $('#total1').text(response.disTotal);

                $('#apply').hide();
                $('#unApply').show();

                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Discount redeemed',
                    showConfirmButton: false,
                    timer: 1500
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops !!!',
                    text: 'Invalid Coupon!!!'
                });
            }
        }
    });
    
    // Prevent form submission
    return false;
}



</script>
<script>
  
    $(document).ready(function () { 
        $('#submitBtn').on('click', function () {
          
            var formData = {
            name: $('#name').val(),
            email: $('#email').val(),
            mobile: $('#mobile').val(),
            housename: $('#housename').val(),
            city: $('#city').val(),
            state: $('#state').val(),
            pin: $('#pin').val(),
        };
            // Make an AJAX request
            $.ajax({
                url: '/checkout-address', // Replace with the actual server-side endpoint
                method: 'post',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                dataType: 'json',
                
            }).done((response)=>{
              if(response.success){
                 location.reload()
              }else{
                alert('failed')
              }
            })
        });
    });

</script>
<script>
  function copyCouponCode() {
      const couponCodeElement = document.getElementById("couponCode");
      const couponCode = couponCodeElement.innerText;

      navigator.clipboard.writeText(couponCode).then(function () {
          // Successfully copied to clipboard
          Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Copied to clipboard',
                    showConfirmButton: false,
                    timer: 1500
                });
      }).catch(function (err) {
          // Unable to copy to clipboard
          console.error('Could not copy text: ', err);
      });
  }
</script>




<%-include('../users/mainLayouts/mainfooter.ejs')%>