<%-include('../users/mainLayouts/mainheader.ejs')%>
<link rel="stylesheet" href="/public/userAssets/userAccount/assets/css/style.css">


<div class="bg0 m-t-23 p-b-140 align-items-center"  >
    <div class="container  " style="    margin-bottom: -188px;">


<nav aria-label="breadcrumb" class="breadcrumb-nav" style="margin-top: 100px;">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->
<form  id="checkout-form" >
<div class="text-center">
<h1>CHECKOUT</h1>
</div>
<div class="">
  <label for="checkout-discount-input" class="text-truncate"
    >Have a coupon? <span>Enter your code below.</span></label
  >
</div>
<div class="cart-discount">
  
    <div class="input-group mb-5">
      <input
        type="text"
        class="form-control"
        
        name="code"
        id="code"
        placeholder="coupon code"
        style="
          height: 40px;
          border: 1px dotted #000;
          padding-left: 10px;
        "
      />
      
      <button
      id="unApply"
        class="btn btn-outline-dark"
        style="margin: 0; width: 70px; height: 40px; display: none;"
        onclick="unApplycoupon($('#code').val())"
      >
      <i class="fa-solid fa-trash"></i>
      </button>
      
        <button
        id="apply"
        class="btn btn-outline-dark"
        style="margin: 0; width: 70px; height: 40px; "
        onclick="applycoupon($('#code').val())"
      >
        <i class="icon-long-arrow-right"></i>
      </button>
      
    </div>
</div>
<div class=" text-center w-50 card border-0" >
    
    <a class="btn btn-primary" style="margin-top: 55px;" href="/new-address"> + ADD A NEW ADDRESS </a>
</div>




<div class="page-content">
    <div class="checkout">
        <div class="container">

        
          


            <div class="checkout-discount">
               
            </div><!-- End .checkout-discount -->
           
                <div class="row" style="margin-left: -19px;
                margin-right: -10px;">
                    <div class="col-lg-9" >
                       
                    <!--hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh-->
                   <% if(address){%>
                  <%  if(address!=='undefined'){%>
                  <% address.forEach((address)=>{%>
                  
                    <div class="d-flex rounded p-3 mt-3 border card text-white" 
                    style="
                      
                      margin-right: 234px; " >
                        <div class="card-body"> </div>
                            
                        <p> <input class="form-check-input ml-1"
                             type="radio"
                             name="address"
                             value="<%= address.name %>,<%= address.mobile %>,<%= address.email %>,<%= address.housename %>,<%= address.city %>,<%= address.state %>,<%= address.pin %>  "
                                 id=""  >
                            
                              <b class="m-l-30"> <%=address.name%> &nbsp; &nbsp; &nbsp; &nbsp; <%=address.mobile%>  </b></p>
                            <p class="m-l-30">
                               <%=address.housename%>   <%=address.state%>  <%=address.state%> - PIN:-<%=address.pin%> 
                            </p>
                       </div>
                    <%})%>
                  <% }%>
                <%}else{%>
                    <div class="text-center">
                   <h2> EMPTY!!</h2>
                </div>
                <%}%>




                    </div><!-- End .col-lg-9 -->
                    <aside class="col-lg-3 col-md-6 mb-4" style="background-color: #e5dddd; border-radius: 10px;">
                      <div class="card"  style="background-color: #e5dddd;">
                          <div class="card-body">
                              <div class="summary border-0 rounded-3" >

                                
                                  <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->
                  
                                  <table class="table table-summary">
                                      <thead>
                                          <tr>
                                              <th>Product</th>
                                              <th>Total</th>
                                          </tr>
                                      </thead>
                  
                                      <tbody>
                                          <%product.forEach((data)=>{%>
                                          <tr>
                                              <td><a href="#"><%=data.productId.name%></a></td>
                                              <td>&#8377 <%=data.productId.price%></td>
                                          </tr>
                                          <%})%>
                  
                                          <tr class="summary-subtotal">
                                              <td>Subtotal:</td>
                                              <td><%=total%></td>
                                          </tr><!-- End .summary-subtotal -->
                                          <tr>
                                              <td>Shipping:</td>
                                              <td>Free shipping</td>
                                          </tr>
                                          <tr class="summary-total">
                                              <td>Total:</td>
                                              <td id="total1"><%=total%></td>
                                          </tr><!-- End .summary-total -->
                                      </tbody>
                                  </table><!-- End .table table-summary -->
                  
                                  <div class="accordion-summary mt-3" id="accordion-payment">
                                      <label class="d-flex">
                                          <input type="radio" required id="COD" name="payment" value="COD">&nbsp;&nbsp;
                                          Cash on Delivery
                                      </label>
                  
                                      <label class="d-flex">
                                          <input type="radio" required id="online" name="payment" value="online">&nbsp;&nbsp;
                                          Online
                                      </label>

                                      <label class="d-flex">
                                        <input type="radio" required id="wallet" name="payment" value="wallet">&nbsp;&nbsp;
                                        Wallet
                                    </label>
                                  </div><!-- End .accordion -->
                  
                                  <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block mt-3">
                                      <span class="btn-text btn btn-primary">Place Order</span>
                                      <span class="btn-hover-text btn btn-primary">Proceed to Checkout</span>
                                  </button>
                              </div><!-- End .summary -->
                          </div>
                      </div>
                  </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </form>
        </div><!-- End .container -->
    </div><!-- End .checkout -->
</div><!-- End .page-content -->
</main><!-- End .main -->


    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
   $("#checkout-form").submit((e)=>{
    console.log('button clicked');
    e.preventDefault();
    let codes = document.getElementById('code').value;
    let code = codes ? codes : 0
    let address = $("input[name=address]:checked").val()
    let total=document.getElementById("total1").innerHTML;
    
    let payment=$("input[name=payment]:checked").val()
    $.ajax({
        url:"/place-order",
        method:"post",
        data:{Total:total,address:address,payment:payment,code:code},
        success: (response)=>{
            if(response.success===true || response.wallet==true){
                // swal('order placed')
                location.href='/order-placed'
            }else if(response.wallet==false){
              Swal.fire({
                    icon: 'error',
                    title: 'Insufficient Wallet Balance',
                    text: 'Your wallet balance is insufficient. Please choose a different payment method or recharge your wallet.',
                    });
               
            }else{
              razorPayment(response.order)
            }
        }
    })
   })

   function razorPayment(order) {
    
    // console.log(process.env.RazorId);
    var options = {
      key: "rzp_test_49DsJEEbScMJdv", // Enter the Key ID generated from the Dashboard
      amount: order.totalAmount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
      currency: "INR",
      name: "shuecrops", //your business name
      description: "Test Transaction",
      image: "/user/images/icons/logo.png",
      order_id: order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
      handler: function (response) {
        verifyPayment(response, order);
      },
      prefill: {
        //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
        name: "Shoe crops", //your customer's name
        email: "shuecrops007store@example.com",
        contact: "9778019887", //Provide the customer's phone number for better conversion rates
      },
      notes: {
        address: "Razorpay Corporate Office",
      },
      theme: {
        color: "#c96",
      },
    };

    var rzp1 = new Razorpay(options);
    rzp1.open();
  }
         
  function verifyPayment(payment, order) {
    const amount2 = document.getElementById("total1").innerHTML;
    $.ajax({
      url: "/verify-payment",
      method: "post",
      encoded:true,
      data: {
        payment: payment,
        amount2: amount2,
        order: order,
      },
      success: (response) => {
        console.log('rrrr',response);
        if (response.codsuccess == true) {
            
            Swal.fire({
            positon: "center",
            icon: "success",
            title: "Payment successfully",
            showConfirmButton: false,
            timer: 1500,
          }).then(()=>{
            window.location.href='/all-orders'
          })


            // location.href='/all-orders'
        } else {
          Swal.fire({
            positon: "center",
            icon: "error",
            title: "Payment failed",
            showConfirmButton: false,
            timer: 1500,
          });
        }
      },
    });
  }
</script>
<script>
   //=========delete applied coupon=========
   function unApplycoupon(code) {
    const amount = document.getElementById('total1').innerHTML;
    $.ajax({
      url: "/deleteAppliedCoupon",
      data:{
        code:code,
        amount: amount
      },
      method: "post",
      success: (response)=>{
        if(response.success){
          document.getElementById('total1').innerHTML = response.disTotal
          
          document.getElementById('apply').style.display = "block"
          document.getElementById('unApply').style.display = "none"
          Swal.fire({
            icon: 'warning',
            title: 'Deleted !!',
            text: 'Applied coupon is deleted.'
          })
        }
      }
    })
  }


  function applycoupon(code) {
    
    const amount = document.getElementById('total1').innerHTML;
   
    
    $.ajax({
      url: "/applyCoupon",   
      data: {
        code: code,
        amount: amount
      },
      method: "post",
      success: (response) => {
        if (response.user) {
          Swal.fire({
            icon: 'error',
            title: 'Oops !!',
            text: 'This coupon already used!'
          })
        }else if (response.cartAmount) {
          Swal.fire({
            icon: 'warning',
            title: 'Oops !!',
            text: 'You cant use the coupon...Buy more'
          })
        } else if (response.amountOkey) {
         console.log(response);
          document.getElementById('total1').innerHTML = response.disTotal
          
          document.getElementById('apply').style.display = "none"
          document.getElementById('unApply').style.display = ""
          Swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Discount redeemed',
            showConfirmButton: false,
            timer: 1500
          })
          
        } else {
          Swal.fire({
            icon: 'error',
            title: 'Oops !!!',
            text: 'Invalid Coupon!!!'
          })
        }
      }
    })
  }

</script>

<%-include('../users/mainLayouts/mainfooter.ejs')%>