<%-include('../users/mainLayouts/mainheader.ejs')%>
<link rel="stylesheet" href="/public/userAssets/userAccount/assets/css/style.css">
<style>
    .dashboard .btn {
    min-width: 60px;
}
</style>
<style>
  /* Add any additional styles you need here */
  .hidden {
      display: none;
  }
</style>
<main class="main" style="margin-top: 60px;">
    <div class="page-header text-center " style="background-image: url('/user/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title text-white">My Account</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item" aria-current="page">My Account</li>

            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-3">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab"
                                    href="#tab-dashboard" role="tab" aria-controls="tab-dashboard"
                                    aria-selected="true">My Profile</a>
                            </li>
                            <!-- <li class="nav-item">
                            <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
                        </li> -->
                            <!-- <li class="nav-item">
                            <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">Downloads</a>
                        </li> -->

                            <li class="nav-item">
                                <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account"
                                    role="tab" aria-controls="tab-account" aria-selected="false">Edit
                                    Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-order-link" data-toggle="tab" href="#tab-order"
                                    role="tab" aria-controls="tab-order" aria-selected="false">My Orders</a>
                            </li>


                            <li class="nav-item">
                                <a
                                  class="nav-link"
                                  
                                  href="/view-wallet"
                                  
                                 
                                  >Wallet</a
                                >
                              </li>

                            <li class="nav-item">
                                <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address"
                                    role="tab" aria-controls="tab-address" aria-selected="false">Manage address</a>
                            </li>

                          
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Sign Out</a>
                            </li>
                        </ul>
                    </aside><!-- End .col-lg-3 -->

                    <div class="col-md-8 col-lg-9" id="reloadDiv">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel"
                                aria-labelledby="tab-dashboard-link">
                                <h6 class="text-center fs-1 font-monospace text-decoration-underline ">My
                                    Profile</h6>
                                    
                                    <%if(address){%>
                       
                                        <% const latestIndex = address.address.length - 1; %>

<% for (let i = latestIndex; i <= latestIndex; i++) { %>
  
    <div class="col-12 mb-3" style="margin-top: -96px;">
      <div class="mb-3 d-flex ">
        <div class="code mt-1" style="
         background-color: #cdcccc;
        padding: 3px;
        font-size: 29px;
        display: none;
        color: #333;
        border-radius: 1px;
        font-style: oblique;">
            <span id="couponCode"><%= data.referralCode %></span>
           
        </div>
        
       

        <!-- Copy Code Button -->
       
    </div> 
    <div id="result">
    <P>Name : &nbsp; <b><%=data.name%></b></P>
    <!-- <button id="editButton">Edit Name</button> -->

    <!-- <form id="nameForm" class="hidden" action="/name-change" method="post" onsubmit="nameChange(event)">
        <div class="row">
            <div class="col-sm-6">
             
                
                <input type="text" name="name" class="form-control" value="<%=data.name%>">
                <input type="submit" class="btn" id="submitButton" value="Save>">
            </div>
        </div>
    </form> -->
  </div>
    <P>Email : &nbsp;<b><%=data.email%></b></P>
    <p>Mobile : &nbsp;<b> <%=data.mobile%></b></p>
    <input type="text" id="couponCode" value="<%= data.referralCode %>" style="width: 182px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    height: 43px;
    margin-top: -4px;
    margin-bottom: 11px;" disabled>

    <!-- Copy Code Button -->
    <button class="copy-button" onclick="copyCouponCode()" style="
        padding: 6px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 53px;
    margin-left: 17px;
    height: 43px;
    margin-top: -54px;
    position: absolute;
    z-index: 1;
    margin-left: 190px;">
        <i class="fa-solid fa-copy" style="color: #d3d9e4; background-color: transparent;"></i>
    </button>
       
    </div>
<% } %>
                                           <%}%>
                                          <!-- ======================= -->
                                          
                                           <!-- ======================== -->
                                             <label class="ml-5 mt-2"  for=""><p style="margin-left: -28px;"><b>Change password</b></p></label>
                                             <form class="mt-3" action="/profile-password" method="post" onsubmit="submitForm(event)">
                                            
                                          <!-- <div class="d-flex flex-row justify-content-between"> -->
                                            <label class="mr-2 ">Current password</label>
		            						<input type="password" name="currentpassword" class="form-control mt-1 ml-2">
                                            <p style="color: red;" id="currentpassworderror"></p>
		            						<label  >New password </label>
		            						<input type="password" name="newpassword" class="form-control mt-1">
                                            <p style="color: red;" id="newpassworderror"></p>
                                       
		            						<label  >Confirm new password</label>
		            						<input type="password" name="confirmpassword" class="form-control mt-1">
                                            <p style="color: red;" id="confirmpassworderror"></p>
                                            
                                        
                                           
                                            <input type="submit" class="btn" id="submitButton" value="Save>">
                                            <a class="" href="/forgot-password">Reset your password</a>
                                        </form>
                                       
                                        
                            </div><!-- .End .tab-pane -->



                            <!-- this you can use new fieldhhhhhh -->

                            <div class="tab-pane fade" id="tab-orders" role="tabpanel"
                                aria-labelledby="tab-orders-link"> 
                                <p>No order has been made yet.</p>
                                <a href="category.html" class="btn btn-outline-primary-2"><span>GO
                                        SHOP</span><i class="icon-long-arrow-right"></i></a>
                            </div><!-- .End .tab-pane -->
                            <!-- this you can use new fieldhhhhhh   END--> 

                          
              <!-- .End .tab-pane -->



                            <!-- orders page -->
                            <div class="tab-pane fade" id="tab-order" role="tabpanel"
                                aria-labelledby="tab-order-link">
                               
                                    <div class="card col-md-5 col-10 m-2 shadow-sm" id="allorder"
                                        style="border-radius: 7px; background: #F3F3F9; cursor: pointer;">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-center mt-1 py-4">
                                                <i class="fa-solid fa-box-open mx-3"
                                                    style="font-size: 35px;"></i>
                                              <a href="/all-orders">  <h5 class=" m-0 align-self-center" style="font-weight: 300;">All
                                                    Orders</h5></a>
                                            </div>
                                        </div>
                                    </div>
                            </div><!-- .End .tab-pane -->
                            <!-- orders page END -->

                            <div class="tab-pane fade" id="tab-address" role="tabpanel"
                            aria-labelledby="tab-address-link">

                          

                            <div class="card  col-10 m-2 shadow-sm" id="addressDiv"
                            style="border-radius: 6px;
                            background: #007bff;
                            cursor: pointer;
                            height: 44px;">
                            <div class="card-body">
                                <div class="d-flex text-center justify-content-center ">
                                
                                  <p>
                                   
                                         <a class="fw-bold  " style="color: #ccc;" href="/new-address" > <strong>+ ADD NEW ADDRESS </strong> </a>
                                  </p>
                                
                                 </div>
                            </div>
                        </div>

                     
                       
                        <div class="row m-t-23">
                           <% if(address){%>
                            <% address.address.forEach((data) => { %>
                                <div class=" col-12  mb-3">
                                   
                                    <div class="card  border border-dark" id="addressDiv" style="border-radius: 7px; background: #fdfdfd; cursor: pointer;">
                                        <div class="card-body">
                                            <div class="">
                                                 <p>
                                                    
                                                    <strong><%= data.name %></strong><br>
                                                 <%= data.state %> <%= data.city %>
                                                   &nbsp; &nbsp; PIN: <%= data.pin %>
                                                </p>
                                           
                                                <a style="background-color: rgb(255, 4, 4); border-radius: 10%; color: #fff; height: 23px; margin-left: -4px;
                                                width: 4px;" class="btn" onclick="deleteAddress('<%=data._id%>')">Delete</a>
                                                <a style="background-color:rgb(85, 85, 104); border-radius: 10%; height: 23px;
                                                width: 4px; margin-left: -35px; color: white;" class="btn " href="/edit-address?id=<%=data._id%>" >Edit</a>
                                               
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>



                            <% }) %>
                       <% }else{%>
                       
                       <%}%>
                        </div>

                            </div>

                            <!-- change password area -->

                 
                            <!-- account tab details -->
                            <div class="tab-pane fade" id="tab-account" role="tabpanel"
                                aria-labelledby="tab-account-link">
                                <h6 class="text-center fs-1 font-monospace text-decoration-underline ">Edit
                                    Details</h6>

                               

                                <form action="" method="post">

                                    <!-- profile end -->
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Name *</label>
                                            <input type="text" class="form-control" value=""
                                                name="name">
                                        </div><!-- End .col-sm-6 -->

                                        <div class="col-sm-6">
                                            <label>email *</label>
                                            <input type="text" class="form-control" name="email"
                                                value="">
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->

                                    <label>Mobile *</label>
                                    <input type="email" class="form-control" name=""
                                        value="">

                                        <label>House Name *</label>
                                        <input type="text" class="form-control" name="housename" value="">

                                        <label>City *</label>
                                        <input type="text" class="form-control" name="city" value="">

                                        <label>State *</label>
                                        <input type="text" class="form-control" name="state" value="">

                                        <label>Pin *</label>
                                        <input type="text" class="form-control" name="pin" value=""> 
                                          
                                </form>
                              
                               
                            </div><!-- .End .tab-pane -->




                        </div>
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
</main><!-- End .main -->


<script>
// document.addEventListener('DOMContentLoaded', function() {
//     var form = document.getElementById('myForm');
//     var button = document.getElementById('submitButton');
    
//     button.addEventListener('click', function(event) {
//         event.preventDefault(); // Prevent the default form submission
        
//         var formData = {
//             name: form.elements['currentpassword'].value,
//             email: form.elements['newpassword'].value
//         };

//         // Now you can use the formData object in your function
//         handleFormData(formData);
//     });
    
//     function handleFormData(formData) {
//         // Your function to handle the form data goes here
//         console.log(formData);
//     }
// });

function deleteAddress(addressId){
    $.ajax({
        url:'/delete-address',
        method:'post',
        encoded:true,
        data:{
            id:addressId
        }
    }).done((data)=>{
        if(data){
            $("#reloadDiv").load("/profile #reloadDiv")
        }else{
               alert('failed')
        }
    })

}


</script>

<script>
  // function nameChange(event){
  //   event.preventDefault()
  //   const name= $("input[name='name']").val();
  //   $.ajax({
  //     type:"POST",
  //     url:'/name-change',
  //     data:{
  //       name:name
  //     },
  //     success: function(responce){
  //      if(responce.success){
  //   window.location.href='/profile'
    
  //      }else{
  // alert('kjhjkhckjds')
  //      } 
      
  //     }
  //   })
  // }
    
  function submitForm(event) {
    event.preventDefault(); // Prevent the default form submission

    // Get form data
    const currentPassword = $("input[name='currentpassword']").val();
    const newPassword = $("input[name='newpassword']").val();
    const confirmPassword = $("input[name='confirmpassword']").val();

    // Make AJAX request
    $.ajax({
      type: "POST",
      url: "/profile-password",
      data: {
        currentpassword: currentPassword,
        newpassword: newPassword,
        confirmpassword: confirmPassword
      },
      success: function(response) {
        // Handle the response here
        // You can update the error messages based on the response
        $("#currentpassworderror").text(response.currentpassworderror);
        $("#newpassworderror").text(response.newpassworderror);
        $("#confirmpassworderror").text(response.confirmpassworderror);

        // Optionally, you can redirect the user based on the response
        if (response.redirect) {
          window.location.href = response.redirect;
          alert('xhNF ')
        }
      },
      error: function(error) {
        alert('xhNddvdsvvdF ')
        console.log(error);
      }
    });
  }
</script>
<script>
  function copyCouponCode() {
      const couponCodeElement = document.getElementById('couponCode');
      const codeToCopy = couponCodeElement.innerText;

      const textarea = document.createElement('textarea');
      textarea.value = codeToCopy;
      document.body.appendChild(textarea);
      textarea.select();
      document.execCommand('copy');
      document.body.removeChild(textarea);

      // Successfully copied to clipboard
      Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Copied to clipboard',
                    showConfirmButton: false,
                    timer: 1500
                });
  }
</script>
<script>
  document.getElementById('editButton').addEventListener('click', function() {
      var form = document.getElementById('nameForm');
      form.classList.toggle('hidden');
  });
</script>








<%-include('../users/mainLayouts/mainfooter.ejs')%>